.custom-node {
  padding: 22px 10px;
  background: #6c6c6c;
  border: 1px solid #777;
  border-radius: 5px;
  width: 240px;
  text-align: center;
  position: relative;
}

/* Đảm bảo handle hiển thị đúng */
.custom-node .react-flow__handle {
  position: absolute;
}