.diagram {
    width: 100%;
    height: max-content;
    border: 2px solid lightgrey;
    position: relative;
}
.node {
    width: 240px;
    height: max-content;
    background: #6c6c6c;
    border: 2px solid green;
    border-radius: 10px;
    position: relative;
    text-align: center;
    padding: 0px 8px 16px;  
    margin-top: -4px;
}
.flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.text {
    width: 100%;
    padding: 0px;
    background-color: 'transparent';
    border: 1px solid #6c6c6c;
    color:white;
    font-size: 12px;
    display: inline-block; /* Đổi thành inline-block để hỗ trợ width */
    white-space: nowrap; /* Không cho phép xuống dòng */
    overflow: hidden; /* Ẩn phần nội dung bị tràn */
    text-overflow: ellipsis; 
}

.input {
    display: none;
}