.sidebar {
  height: max-content;
  align-items: center; // Căn giữa theo chiều dọc
  justify-content: flex-end; // Đẩy nút sang phải
  position: fixed; // Giữ header cố định ở đầu trang
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #eef0f3; // Thêm nền để rõ ràng
  padding: 0 10px;
}
  
  .dndnode {
    padding: 6px 8px;
    margin: 6px 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    // cursor: move;
    cursor: pointer;
    text-align: center;
    width: max-content;
  }
  
  .dndnode:hover {
    background-color: #feedd1;
  }

  .save {
    padding: 6px 8px;
    margin: 6px 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    // cursor: move;
    cursor: pointer !important;
    text-align: center;
    width: max-content;
    background-color: #f69600;
    color: white;
  }
  
  .save:hover {
    // background-color: #e0e0e0;
  }