#diagram {
    width: 100%;
    height: max-content;
    border: 2px solid lightgrey;
    position: relative;
}
.node {
    width: 200px;
    height: max-content;
    background: #6c6c6c;
    border: 2px solid green;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    padding: 0px 8px 16px;  
}
.flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}
#addNodeBtn {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.text {
    width: 100%;
    padding: 0px;
    background-color: 'transparent';
    border: 1px solid #6c6c6c;
    color:white;
    font-size: 12px;
    display: inline-block; /* Đổi thành inline-block để hỗ trợ width */
    white-space: nowrap; /* Không cho phép xuống dòng */
    overflow: hidden; /* Ẩn phần nội dung bị tràn */
    text-overflow: ellipsis; 
}
/* .avatar-uploader {
    width: fit-content;
    .ant-upload {
        height: 32px;
        width: 100px;
        background-color: rgba(204, 204, 204, 0.5);
        margin: 0;
        border: none;
        color: #62b2fc;
        transition: all 0.5s;
        span {
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    margin-right: 3px;
                }
            }
        }
    }
} */