.custom-label-datepicker {
    display: inline-block;
    width: 30px;
    line-height: 32px;
    text-align: center;
    margin-right: 4px;
    margin-left: 5px;
}

.custom-date-field{
    display: inline-block;
    min-width: 181px;
    max-width: 200px;
}