@import "@assets/scss/global";

.upload-btn{
    width: 180px;
    height: 100px;    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empty-value{
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
}

.border{
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
}

.border-hover{
    border: 1px dashed #d9d9d9;
    border-radius: 8px;

    :hover{
        color: #ffb429;
    }
}

.image-text{
    position: absolute;
    color: rgba(0, 0, 0, 0.66);
    padding: 5px 7px;
    background-color: #c3c3c28a;
    border-radius: 15px;
}